<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/main.css">
  <title>Movies app</title>
</head>
<body>

<% include menu.html %>

<div class="container">
  <div class="thumbnail">
    <img src="<%= movie.poster %>" alt="...">
    <div class="caption">
      <h3><%= movie.title %></h3>
      <p><%= movie.author %></p>
      <div id="comments">
        <% movie.reviews.forEach(function(review) { %>
        <div class="thumbnail">
          <label>Pseudo</label>
          <h2><%= review.pseudo %></h2>
          <label>Commentary</label>
          <p><%= review.text %></p>
          <label>Note</label>
          <p><%= review.note %></p>
        </div>
        <% }) %>
      </div>
      <form method="post" class="horizontal-form">
        <div class="form-group">
          <label>Pseudo</label>
          <input type="text" name="pseudo" class="form-control">
        </div>
        <div class="form-group">
          <label>Commentary</label>
          <textarea name="comment" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label>Note</label>
          <input type="number" name="note" class="form-control" min="1" max="10">
        </div>
        <div class="form-group">
          <input type="submit" class="btn-primary btn" value="Submit"/>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
