<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css" />
        <title>9Gag Like</title>
    </head>
    <body>
    <!--<head>
        <title>Session Management in NodeJS using Express4.2</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                var email, pass;
                $("#submit").click(function () {
                    email = $("#email").val();
                    pass = $("#password").val();
                    /*
                    * Perform some validation here.
                    */
                    $.post("http://localhost:1337/login", { email: email, pass: pass }, function (data) {
                        if (data === 'done') {
                            window.location.href = "/admin";
                        }
                    });
                });
            });
        </script>
    </head>-->
        <div class="container">
            <% if(typeof(error) != "undefined") { %>
            <div class="alert alert-danger">
                <p> <%= error %></p>
            </div>
            <% } %>
            <form method="post">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Login">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Password">
                </div>
              
                <button type="submit" class="btn btn-primary">Connexion</button>
            </form>
        </div>

        <script src="/public/js/jquery.js" />
        <script src="/public/js/index.js" />
    </body>
</html>