<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/main.css">
  <title>Movies app</title>
</head>
<body>

<% include menu.html %>

<div class="container">
  <% movies.forEach(function(movie) { %>
  <div class="thumbnail">
    <img src="<%= movie.poster %>" alt="...">
    <div class="caption">
      <label>Titre</label>
      <h3><%= movie.title %></h3>
      <label>Realisator</label>
      <p><%= movie.realisator %></p>
      <label>Release date</label>
      <p><%= movie.releaseDate %></p>
      <label>Summary</label>
      <p><%= movie.summary %></p>
      <label>Note average</label>
      <p><%= movie.averageRate %>/10</p>
      <p><a href="/movie/<%= movie.id %>" class="btn btn-primary" role="button">Detail</a></p>
    </div>
  </div>
  <% }) %>
  <div>
    <% if(page > 1) {%>
      <p><a href="/?page=<%= parseInt(page) - 1 %>" class="btn btn-primary previousButton" role="button">Previous</a></p>
    <% } %>
    <p><a href="/?page=<%= parseInt(page) + 1 %>" class="btn btn-primary" role="button">Next</a></p>
  </div>
</div>

</body>
</html>